h1 {
    color: #ededed;
}

#root {
    display: flex;
}

.header {
    background: #3e4444;
    width: 200px;
}

.nav__items {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav__item a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    width: calc(100% - 40px);
}

.nav__item a.active {
    border-bottom: 3px solid #ffef96;
    background: #1fbc3699;
}

.nav__item a:hover {
    background-color: #82b74b;
}