.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.product {
    width: calc(33.33% - 20px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.product .ant-image {
    width: 100%;
}

.product__image {
    justify-self: center;
}

.product__image.ant-image-img {
    width: 100%;
    height: 200px;
}

.product_title {
    font-size: 18px;
}

.product_title a {
    color: #b2b2b2;
    font-weight: bold;
}

.product_price {
    font-size: 18px;
    color: #618685;
    font-weight: bold;
}

.product_short_info {
    padding: 10px;
    position: relative;
}

.product_add_btn {
    position: absolute;
    right: 10px;
    bottom: 14px;
}